 /* .calendarPage {
    background:#808000
} */
/* div.e-appointment{
    padding: 0 !important;
    }
.template-wrap{
background: #808000;
padding-left: 20px;
padding-right: 5px;
padding-top: 7px;
padding-bottom: 10px;
font-size: 14px;
font-weight: 500;
}  */
